* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1rem;
  background: red;
}

.container > * {
  border: 1px solid gold;
  padding: 1rem;
}